<div id="game">

    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>

    <% if @success %>
      <div class='alert alert-success'><%= @success %></div>
    <% end %>

    <% if @game_end %>
      <div>play again? <a href="/bet" class="btn btn-primary">Yes</a> <a href="/game_over" class='btn'>No</a> </div>
    <% end %>

  <h1 id="title">Blackjack!</h1>

  <div class="well">
    <h4>Dealer's cards:</h4>

    <ul class="cards">
      <li style="display:inline-block">
        <% if @in_player_turn %>
        <img src="/images/cards/cover.jpg">
        <% else %>
        <img src="/images/cards/<%= card_to_image(session[:dealer_cards][0]) %>">
        <% end %>
      </li>

      <% last_index = session[:dealer_cards].size - 1 %>
      <% session[:dealer_cards].slice(1..last_index).each do |card| %>
      <li style="display:inline-block">
        <img src="/images/cards/<%= card_to_image(card) %>">
      </li>
      <% end %>
    </ul>

    <% if !@in_player_turn %>
    dealer has <%= calculate_total(session[:dealer_cards]) %>.
    <% end %>

    <% if @dealer_will_hit %>
    dealer will hit.
    <form id="dealer_hit" action="/game/dealer/hit" method="POST">
      <input type="submit" value="Click to see dealder's next card →" class="btn btn-primary">
    </form>
    <% end %>

  </div>

  <br>

  <div class='well'>
    <h4>Player's cards:</h4>
    <ul class="cards">
      <% session[:player_cards].each do |card| %>
      <li style="display:inline-block">
        <img src="/images/cards/<%= card_to_image(card) %>">
      </li>
      <% end %>
    </ul>

    <h4>
      <%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>.
      <small><%= session[:player_name] %> has <strong>$<%= session[:total_money] %></strong> total. Bet amount this round: <strong>$<%= session[:bet_amount] %></strong></small>
      <% if @in_player_turn %> What would you like to do?<% end %>
    </h4>

  </div>

  <% if @in_player_turn %>
  <form id="hit_form" action="/game/player/hit" method='post' id='hit'>
    <input type='submit' class='btn btn-success btn-large' value='Hit'>
  </form>
  <form id="stay_form" action="/game/player/stay" method='post' id='stay'>
    <input type='submit' class='btn btn-warning btn-large' value='Stay'>
  </form>
  <% end %>
</div>